---
title: Data from Google Sheets
layout: base
---
<p>These examples use data from the <a href="https://docs.google.com/spreadsheets/d/18Pnw-kjaJhlcVuQZkNoCBTFTouT3CPpeEJb0JvewqPI/edit?usp=sharing">cscie114-demo-data Google Sheet</a>.</p>
<ul class="listing">
  <li>Courses:
    <a href="subject-listing/">Course Subjects</a>
  </li>
  <li>Jamstack Resources (<code>urls.csv</code>):
    <a href="jamstack-resources/">Jamstack Resources</a>
  </li>
</ul>

