---
title: Index Page
layout: base
---
This is the home page.
<ul>
  <li>Subjects:
    <a href="subject-listing/">subject-listing</a>
  </li>
  <li>Resources:
    <a href="jamstack-resources/">Jamstack Resources</a>
  </li>
</ul>