---
title: Course Subjects Listing
layout: base
---
  <ul class="listing compact subjects">
    {% for s in collections.subjects %}
      <li>
        <a href="{{ s.url }}">{{ s.data.title }}</a> 
      </li>
    {% endfor %}
  </ul>